@if (this.form.get('name')?.getRawValue() && token) {
  <h3>Welcome {{ this.form.get('name')?.getRawValue() }}</h3>

  <button  mat-flat-button color="warn"  (click)="allNotificationsOff()">
    <mat-icon>notifications_off</mat-icon>
    Turn off notifications on this device
  </button>
}
@if (!token) {
  <h4>Turn on notifications</h4>
  <p>For the application to work, notifications must be enabled</p>


    <form class="form" [formGroup]="form" (ngSubmit)="requestToken()">
      <mat-form-field class="full-width input">
        <mat-label>Name of waiter or device name</mat-label>
        <input formControlName="name" matInput placeholder="John Smith/Terminal" required>

      </mat-form-field>
    </form>
      <button [disabled]="form.get('name')?.hasError('required')" mat-flat-button color="accent" type="submit" (click)="requestToken()">
        <mat-icon>notifications</mat-icon>
        Turn on notifications on this device
      </button>


}


@if (tables) {
  <section class="tables">
    @for (table of tables; track table) {
      <app-table-subscribe class="table" [table]=table [deviceToken]="token"
                           [waiterName]="this.form.get('name')?.getRawValue()"
                           (changedTable)="changedTable($event)"></app-table-subscribe>
    }
  </section>
}
