<h2 mat-dialog-title>Add table</h2>
<mat-dialog-content class="mat-typography">

    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

        <mat-form-field class="input">
            <mat-label>Name of table</mat-label>
            <input type="text" matInput formControlName="name" placeholder="">
            @if (form.get('name')?.hasError('required')) {
            <mat-error>Required</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="input">
            <mat-label>Number of table</mat-label>
            <input type="number" matInput formControlName="number" placeholder="">
            @if (form.get('number')?.hasError('required')) {
            <mat-error>Required</mat-error>
            }
        </mat-form-field>
</form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial  type="submit" (click)="onSubmit()">Add</button>
</mat-dialog-actions>
<mat-progress-bar [class.invisible]="!loading" mode="indeterminate"></mat-progress-bar>
