@if(this.form.get('name')?.getRawValue()){
    <h3>Добро пожаловать {{this.form.get('name')?.getRawValue()}}</h3>

}
@if(!(token$ | async)){
    <h4>Включите уведомления</h4>
    <p>Для работы приложения необходимо влючить уведомления</p>
    <button mat-flat-button color="accent" (click)="requestToken()"><mat-icon>notifications</mat-icon>Включить уведомления на этом устройстве</button>
}
@else {

    @if((qrCodeAndTableDto$ | async)?.subscribed){
        <h4>Вы подписаны на {{(qrCodeAndTableDto$| async)?.tableName}} {{(qrCodeAndTableDto$| async)?.tableNumber}}</h4>
        <button mat-flat-button color="warn" (click)="unsubscribeFromTable()"><mat-icon>notifications_off</mat-icon>Отписаться от {{(qrCodeAndTableDto$| async)?.tableName}}
            {{(qrCodeAndTableDto$| async)?.tableNumber}}</button>
    }
    @else {
        <h4>Подписаться на {{(qrCodeAndTableDto$| async)?.tableName}} {{(qrCodeAndTableDto$| async)?.tableNumber}}</h4>
        @if(!this.form.get('name')?.getRawValue()){

            <form class="example-form" [formGroup]="form">
                <mat-form-field class="example-full-width">
                    <mat-label>Имя официанта или название устройства</mat-label>
                    <input [disabled]="nameReadonly" formControlName="name" matInput placeholder="Петр Иванов/Терминал" required>
                </mat-form-field>
            </form>
        }
            <button mat-flat-button color="primary" (click)="subscribeToTable()"><mat-icon>notification_add</mat-icon>Подписаться на {{(qrCodeAndTableDto$| async)?.tableName}}
                {{(qrCodeAndTableDto$| async)?.tableNumber}}</button>

    }
}

