<section>
  <h1 class="middle">Регистрация</h1>
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="input">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="emailFormControl" [errorStateMatcher]="emailMatcher"
        placeholder="example@example.com" />
      @if (form.get('emailFormControl')?.hasError('email') &&
      !form.get('emailFormControl')?.hasError('required')) {
      <mat-error>Пожалуйста введите правильный email адресс</mat-error>
      } @if (form.get('emailFormControl')?.hasError('required')) {
      <mat-error>Введите email адресс</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Пароль</mat-label>
      <input type="password" matInput formControlName="passwordFormControl" />
      @if (form.get('passwordFormControl')?.hasError('required')) {
      <mat-error>Введите пароль</mat-error>
      } @if(form.get('passwordFormControl')?.hasError('pattern')){
      <mat-error>Пароль должен содержать минимум 8 символов, 1 заглавную букву, 1
        строчную букву, 1 цифру, 1 спецсимвол</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Повторите пароль</mat-label>
      <input type="password" matInput formControlName="confirmPasswordFormControl" />
      @if(form.get('confirmPasswordFormControl')?.hasError('notSame')){
      <mat-error>Пароли не совпадают</mat-error>
      }
    </mat-form-field>
  </form>

  <section class="buttons">
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="!form.valid || loading">
      Регистрация
    </button>
    <button mat-button (click)="routeToLogin()" color="primary">
      На страничку входа
    </button>
  </section>

</section>