<section>
  <h1 class="middle">Registration</h1>
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="input">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="emailFormControl" [errorStateMatcher]="emailMatcher"
        placeholder="example@example.com" />
      @if (form.get('emailFormControl')?.hasError('email') &&
      !form.get('emailFormControl')?.hasError('required')) {
      <mat-error>Pleas enter correct email</mat-error>
      } @if (form.get('emailFormControl')?.hasError('required')) {
      <mat-error>Please enter email</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="passwordFormControl" />
      @if (form.get('passwordFormControl')?.hasError('required')) {
      <mat-error>Please enter password</mat-error>
      } @if(form.get('passwordFormControl')?.hasError('pattern')){
      <mat-error>Password has to include minimum 8 symbols, 1 capital letter, 1
        lowercase letter, 1 number, 1 special symbol</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Repeat password</mat-label>
      <input type="password" matInput formControlName="confirmPasswordFormControl" />
      @if(form.get('confirmPasswordFormControl')?.hasError('notSame')){
      <mat-error>Password not same</mat-error>
      }
    </mat-form-field>
  </form>

  <section class="buttons">
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="!form.valid || loading">
      Register
    </button>
    <button mat-button (click)="routeToLogin()" color="primary">
      Login page
    </button>
  </section>

</section>