.form {
  margin: auto;
  min-width: 200px;
  max-width: 400px;
  width: 100%;
}

.input {
  width: 100%;
  margin-bottom: 25px;
}

.middle {
  text-align: center;
}

.buttons {
  display: flex;
  column-gap: 15px;

  button {
    min-width: 110px;
  }
}