<section>

  <h1>{{ restaurant.name }}</h1>
  <p>Company ncame: {{ restaurant.companyName }}</p>
  <p>Description: {{ restaurant.description }}</p>
  <p>Address: {{ restaurant.address.street }} {{ restaurant.address.buildingNumber }}, {{ restaurant.address.city }}
    , {{ restaurant.address.zipCode }}</p>
  <p>Time zone: {{ timeZone }}</p>


  <h3>QR-code of resaurant for waiters</h3>
  <section class="qr">
    <qrcode [qrdata]="qrUrlWaiter" [width]="256" [errorCorrectionLevel]="'H'" [elementType]="'svg'"></qrcode>
  </section>
  <a class="link" [href]="qrUrlWaiter">{{ qrUrlWaiter }}</a>
  <section class="buttons">

    <button mat-stroked-button (click)="copyLink(qrUrlWaiter)">
      <mat-icon aria-label="Copy" fontIcon="content_copy"></mat-icon>
      Copy link
    </button>
    <button mat-stroked-button (click)="onGenerate()">New QR-code</button>
    <button mat-stroked-button (click)="printQrWaiters()">
      <mat-icon>print</mat-icon>
      Print QR-code
    </button>
  </section>

  <button mat-stroked-button routerLink="/dashboard/profile">
    <mat-icon>edit</mat-icon>
    Edit company
  </button>

</section>
