
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use '@angular/material' as mat;
@include mat.core();

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/


$primary-palette: (
  50: #fdffeb,
  100: #b3e6f9,
  200: #82d5f6,
  300: #51c4f2,
  400: #2cb7f0,
  500: #02ABEE,
  600: #009ddf,
  700: #008acc,
  800: #0079b8,
  900: #005996,
  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);
$accent-palette: (
  50: #e1f1ea,
  100: #b6dcca,
  200: #87c6a9,
  300: #51b188,
  400: #15a270,
  500: #009358,
  600: #00854e,
  700: #007442,
  800: #006336,
  900: #004521,
  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);


$qrwaiter-typography-config: mat.define-typography-config(
    $font-family: 'Montserrat, "Helvetica Neue", sans-serif',
    $headline-1: mat.define-typography-level( 112px, 112px, 300, $letter-spacing: -0.05em),
    $headline-2: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
    $headline-3: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
    $headline-4: mat.define-typography-level(2.125rem, 2.125rem, 400),
    $headline-5: mat.define-typography-level(2.125rem, 2.125rem, 400),
    $headline-6: mat.define-typography-level(1.625rem, 1.625rem, 400),
    $subtitle-1: mat.define-typography-level(1.375rem, 1.375rem, 400),
    $subtitle-2: mat.define-typography-level(1.2rem, 1.2rem, 400),
    $body-1: mat.define-typography-level(1rem, 1rem, 400),
    $body-2: mat.define-typography-level(1rem, 1rem, 400),
    $caption: mat.define-typography-level(1rem, 400),
    $button: mat.define-typography-level(1rem, 400),
    $overline: mat.define-typography-level(1rem, 400),
  );



$qrwaiter-frontend-primary: mat.define-palette($primary-palette, 800);
$qrwaiter-frontend-accent: mat.define-palette($accent-palette, 800);

// The warn palette is optional (defaults to red).
$qrwaiter-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$qrwaiter-frontend-theme: mat.define-light-theme((
  color: (
    primary: $qrwaiter-frontend-primary,
    accent: $qrwaiter-frontend-accent,
    warn: $qrwaiter-frontend-warn,
  ),
  typography: $qrwaiter-typography-config,
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include mat.all-component-themes($qrwaiter-frontend-theme);

html, body { height: 100%; background-color: #fafafa;}
body { margin: 0; font-family: Montserrat, "Helvetica Neue", sans-serif;  }























