<section>
    <h1 class="middle">Login</h1>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="input">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="emailFormControl" [errorStateMatcher]="emailMatcher"
                placeholder="example@example.com">
            @if (form.get('emailFormControl')?.hasError('email') && !form.get('emailFormControl')?.hasError('required'))
            {
            <mat-error>Please enter correct email</mat-error>
            }
            @if (form.get('emailFormControl')?.hasError('required')) {
            <mat-error>Please enter email</mat-error>
            }
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="passwordFormControl">
            @if (form.get('passwordFormControl')?.hasError('required')) {
            <mat-error>Please enter password</mat-error>
            }
        </mat-form-field>

    </form>
    <section class="buttons">
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()"
            [disabled]="!form.valid || loading">Login</button>
        <button mat-button (click)="routeToRegistration()" color="primary">Registration</button>
    </section>

</section>